body {
  zoom: 150%;
}

* {
  background-color: #352e2e;
  font-family: monospace;
  color: rgb(255, 255, 255);
  padding: 0px;
  font-size: 25px;
}

input[type="number"] {
  vertical-align: middle;
  text-align: center;
}

#freq_display {
  letter-spacing: 23.5px;
  text-align: right;
}

.freq_select {
  padding-left: 82.5px;
}

.freq_select * {
  margin: 0px 5.5px;
}

.ipaddr input[type=number] {
  margin: 0px 19px;
  font-size: 20px;
}
.ipradios * {
  margin: 0px 51.5px;
}



/* For tabs */
.tab {
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button.active {
  background-color: #635555;
}

.tabcontent {
  display: none;
  padding: 8px 1px;
}
